@charset "ISO-8859-1";

.tg {
    border-collapse: collapse;
    border-spacing: 0;
    margin-left: 9.3%;
    margin-top: 4%;
    position: sticky;
}

.tg td {
    border-color: black;
    border-style: solid;
    border-width: 1px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    overflow: hidden;
    padding: 10px 5px;
    word-break: normal;
}

.tg th {
    border-color: black;
    border-style: solid;
    border-width: 1px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    overflow: hidden;
    padding: 10px 5px;
    word-break: normal;
}

.tg .tg-46ru {
    background-color: rgb(32, 135, 72);
    border-color: inherit;
    text-align: left;
    vertical-align: top
}

.tg .tg-y698 {
    background-color: rgb(255, 255, 255, 0.92);
    border-color: inherit;
    text-align: left;
    vertical-align: top
}


body {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    /*Se queda en el centro no se mueve*/
    background-image: url(/PeraltaBautista-Florencio-Examen/Recursos/Fondo1.png);
}


#titulo {
	text-align: center;
    font-weight: bold;
    background-color: rgb(255, 255, 255, 0.9);
    border: black thick solid;
    clear: both;
    
}


form {
	float: left;
	text-align: center;
    font-weight: bold;
    background-color: rgb(255, 255, 255, 0.9);
    border: black thick solid;
    margin-left:23%;
    padding: 1%;
    
}

