@charset "ISO-8859-1";

body {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    /*Se queda en el centro no se mueve*/
    background-image: url(/PeraltaBautista-Florencio-Examen/Recursos/Fondo1.png);
}


#titulo {
	text-align: center;
    font-weight: bold;
    background-color: rgb(255, 255, 255, 0.9);
    border: black thick solid;
    clear: both;
    
}

div {
	text-align: center;
    font-weight: bold;
    background-color: rgb(255, 255, 255, 0.9);
    border: black thick solid;
    clear: both;
    margin: 1%;
}

div input{
	margin: 1%;
	text-align: left;
}

#crear {
	float:left;
	margin-left: 45%;
	text-align: center;
	
}

